input[type=checkbox] {
    width: 1.2rem;
    height: 1.2rem;

}

.tableLine {
    width: 100%;
    border-radius: 8px;

    margin-bottom: 0.5rem;
    
}

.secondData {
    width: 85%;
    text-align: justify;

    font-size: 18px;

}

.secondDataFalse {
    width: 85%;
    text-align: justify;
    
    font-style: italic;
    font-size: 18px;

    color: var(--gray-500);
    text-decoration: line-through;
}

.buttons {
    display: flex;
    gap: 1rem;

    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

.buttons  button {
    background: transparent;
    border: none;

    border-radius: 8px;

    transition: .3s;
}

.eye {
    cursor: pointer;
}

.trash {
    cursor: pointer;
}

.eye:hover {
    color: var(--blue);
}

.trash:hover {
    color: var(--red);
}