:root {
    /* Paleta disponivel em: https://color.adobe.com/pt/Deep%20Teal%20Sea-color-theme-5937536 */

    --white: #FFF;
    --gray: #8d8d99;
    --gray-500: #6F6F6F;
    --red: #E00040;
    --blue: #6D8EF2;
    --green: #05A63D;
    --green-200: #23C95D;

    --first-color: #012E40;
    --second-color: #024959;
    --third-color: #026773;
    --fourth-color: #3CA6A6;
    --fifth-color: #F2E3D5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--first-color);

}


